nav {
    background-color: #220047;
    padding: 25px;
    font-size: 17px;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #f2f2f2;
    transition: box-shadow 0.3s ease-in-out; 
}

body {
    font-family: sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    }

.container {
    display: flex;
    align-items: center;
    padding: 10px 0px;
    }

.button-container {
    display: flex;
    gap: 10px;
}

h1 {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding-bottom: 30px;
    color: black;
}

h2 {
    padding-left: 40px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    }
    
h3 {
    padding-top: 100px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
}

p {
    padding-left: 50px;
    font-family: sans-serif;
    margin: 15px;
    line-height: 1.5;
    color: black;
}

footer {
    background-color: #220047;
    color: #767676;
    text-align:center;
    padding: 20px;
}

table {
    border-collapse: collapse;
    margin: 20px auto;
    width: 80%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

img {
    background-color: #f7fbff;
    border: 1px solid #ccc;
    padding: 15px;
    margin: 1px auto;
    width: 100%;
    max-width: 600px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    margin-left: 100px;
}

.gap {
    margin-bottom: 20px;
    padding-top: 50px;
}

th {
    background-color: #0f33ff;
}

th, td {
    border-color: #000000;
    text-align: center;
}

form {
    background-color: #f7fbff;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

label {
    display: block;
    margin-bottom: 5px;
    color: #0f33ff;
}

input[type="text"],
select,
textarea {
    width: 97%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select {
    width: 100%;
    height: 35px;
}

textarea {
    height: 100px;
}

input[type="Submit"] {
    background-color: #0f33ff;
    color: #f7fbff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #1e1e8e;
}